<a href="https://colab.research.google.com/github/flavianojr1/exerciciosebac/blob/main/Introdu%C3%A7%C3%A3o%20a%20L%C3%B3gica%20de%20Programa%C3%A7%C3%A3o%20em%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pratique

## Utilize o comando 'input' para receber ao menos 2 números de entrada do usuário

In [4]:
numero1 = int(input("Digite o primeiro numero: "))
numero2 = int(input("Digite o segundo numero: "))

print(f'O primeiro numero digitado é ', numero1, ' e o segundo numero é ', numero2)

Digite o primeiro numero: 10
Digite o segundo numero: 20
O primeiro numero digitado é  10  e o segundo numero é  20

## Converta os valores recebidos pelo usuário para número inteiro (int) ou ponto flutuante (float);

In [6]:
numero1_float = float(numero1)
numero2_float = float(numero2)

print(f'O tipo do numero 1 é ', type(numero1_float), ' e o tipo do numero 2 é ', type(numero2_float))

O tipo do numero 1 é  <class 'float'>  e o tipo do numero 2 é  <class 'float'>

## Implemente ao menos 4 operações matemáticas em seu código;

In [7]:
soma = numero1_float + numero2_float
divisao = numero1_float / numero2_float
subtracao = numero1_float - numero2_float
multiplicacao = numero1_float * numero2_float

print(f'A soma é ', soma, ' a divisao é ', divisao, ' a subtracao é ', subtracao, ' a multiplicacao é ', multiplicacao)

A soma é  30.0  a divisao é  0.5  a subtracao é  -10.0  a multiplicacao é  200.0

## Adicione um laço de repetição ou uma condicional. Por exemplo: você pode permitir que o usuário escolha qual operação realizar ou criar um loop que permita ao usuário realizar várias operações consecutivas;

In [9]:
numero1 = float(input("Digite o primeiro numero: "))
numero2 = float(input("Digite o segundo numero: "))
operacao = str(input('Digite a operação que deseja realizar: '))

if operacao == 'soma':
  resultado_operacao = numero1 + numero2
elif operacao == 'subtracao':
  resultado_operacao = numero1 - numero2
elif operacao == 'multiplicacao':
  resultado_operacao = numero1 * numero2
elif operacao == 'divisao':
  resultado_operacao = numero1 / numero2
else:
  print('Operacao invalida')

Digite o primeiro numero: 10
Digite o segundo numero: 10
Digite a operação que deseja realizar: soma
20.0

## Utilize o comando 'print' para exibir o resultado da operação matemática.

In [12]:
print(f'O resultado da operação de', operacao, 'é: ', resultado_operacao)

O resultado da operação de soma é:  20.0